:root {
  --font-family: "Inter", sans-serif;
  --transition: 0.3s ease;
  --color-border: rgba(25, 26, 21, 0.1);
  --color-text: #191a15;
  --color-background: #f3f3f3;
  --color-white: #fbfbfb;
}

[data-theme="green"] {
  --color-primary: #54be96;
  --color-primary-hover: #36a379;
}

[data-theme="blue"] {
  --color-primary: #3470FF;
  --color-primary-hover: #255EE8;
}

[data-theme="orange"] {
  --color-primary: #fc832c;
  --color-primary-hover: #f37113;
}